body{
    padding: 0px;
    margin: 0px;
    background-image: url("assets/topography.png");
    background-color: #fefefe;
    text-align: center;
    font-family: Martel, consolas, Courier;


    
}
h1{
    font-size: 2.5rem;
    font-weight: 900;
}
h3{
    font-weight: 800;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
p{
    margin-top: 0.5rem;
}
section{
    text-align: left;
    line-break: strict;
}
#intro > h3{
    color:#f09;
}
#techWiki > h2 {
    text-align: center;
    font-weight: 900;
}
main{

    padding: 0 10%;
}
nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    text-align: left;
    background: #333;
    margin-bottom: 100px;

}

.nav-links > a {
    font-family:  Arial, Helvetica, sans-serif, monospace;
    font-size: 0.9rem;
    color: #f09;
    text-transform: uppercase;
    padding-left: 35px;
    
}
.nav-links{
   line-height: 3em;
}
